@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    font-family: Marhey;
}
body {
    text-align: center;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt6N5BZZx8elem3kmJMsQzN5BCtLwhmiUymA&s);
    margin: 0;
    padding: 0;
}
h2 {
    text-shadow: 2px 0 1px gray;
    letter-spacing: 2px;
    color: rgb(255, 217, 1);
    background-color: rgb(13, 189, 136);
    width: fit-content;
    margin: 0 auto;
    border: 5px double rgb(255, 217, 1);
    border-radius: 10px;
}

button {
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    transition: 0.3s;
}
button:active {
    scale: 0.9;
    background-color: rgb(2, 70, 138);
}
button:hover {
    background-color: rgb(2, 70, 138);
}
.image{height: 100px;
    transition: 0.2s;
}
.image:hover{
scale: 1.1;
}
